form.signup,
form.login, form.giveForm {
  margin-top: 50px;
  color: black;
}


.jumbotron-fluid {
  background-color: gainsboro;
  color: black;
}

#sellerSubBtn {
  background-color: #2bbbad ;
  color: #555555;
}
img {
  width: 200px;
  height: 200px;
}

.card {
 width: 33%;
};

