form.signup,
form.login, form.giveForm {
  margin-top: 50px;
  color: black;
}
.navbar-default {
  background-color:lightgrey ;
}
/* Display cards side by side*/
#empty-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 24%;
}


/* Added styling to logo */
.navbar-default1 {
  height:200px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
}
.jumbotron-fluid {
  background-color: gainsboro;
  color: black;
}

#sellerSubBtn {
  background-color: #2bbbad ;
  color: #555555;
}
img {
  width: 200px;
  height: 200px;
}

.card {
 width: 33%;
};
/* Display side by side cards for smaller devices */
@media screen and (min-width: 40em) {
  #empty-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  #empty-div  {
      flex: 0 1 calc(25% - 1em);
  }
}